body {
  background: linear-gradient(90deg, rgb(21, 22, 22) 100%, rgb(0, 13, 19) 0%);
}
/* background: linear-gradient(to bottom right, rgb(21, 22, 22), rgb(0, 13, 19)); */
h1 {
  color: white;
  font-size: 5rem;
  text-align: center;
  margin: 2vw;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 25px;
  font-weight: 300;
  padding-bottom: 5px;
  font-family: 'Roboto', sans-serif;
}

a {
  font-weight:600;
  font-family: 'Roboto', sans-serif;
}

a:link {
  color: rgb(191, 191, 255);
}
a:visited {
  color: rgb(204, 160, 255);
}
a:hover {
  color: white;
  filter: drop-shadow(10px 5px 20px rgb(14, 14, 14));
}

.container {
  display: grid;
  grid-template-columns: 10vw auto 10vw;
}

.section {
  padding: 10px;
  margin: 1vw;
  border-radius: 10px;
  filter: drop-shadow(10px 5px 20px rgb(14, 14, 14));
  color: white;
  background: linear-gradient(to bottom right,hsl(220, 76%, 18%) 0%, hsl(260, 76%, 18%) 100%);
}

.section li {
  font-size: 14px;
  padding-bottom: 5px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  list-style-position: inside;
  list-style-type: " • ";
}

#page {
  counter-reset: boxes 0;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 1vw;
}